@model AutoRepairManagementStudio.Web.Models.Home.WorkOrderGridModel

@{
    ViewData["Title"] = "Work Orders";
}

<div id="WorkOrdersGrid">
    <a class="btn btn-dark" href="@Url.Action("Index", "WorkOrder")">New</a>

    <table>
        <thead>
            <tr>
                <th>Account</th>
                <th>Vehicle</th>
                <th>Status</th>
                <th>Created</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var workOrder in Model.WorkOrders)
            {
                <tr onclick="window.location.href='@Url.Action("Index", "WorkOrder", new { id = workOrder.work_order_id})'">
                    <td>@workOrder.account_name</td>
                    <td>@workOrder.vehicle_description</td>
                    <td>@workOrder.status_description</td>
                    <td>@workOrder.created_at.LocalDateTime.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
</div>
